body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar {
  background-color: dodgerblue;
}
.nav-brand {
  font-weight: 400;
  font-size: 1.5em;
}
.category-aktif {
  background-color: dodgerblue;
  color: white;
}

.btn-ToHome {
  background-color: dodgerblue;
  color: white;
}
